<a href="bookmarks/new">New bookmark</a>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <p>URL: <%= bookmark.url %></p>
    <p>Genre: <%= bookmark.genre %></p>
    <p>Name: <%= bookmark.name %></p>
    <p>Details: <%= bookmark.details %></p>
    <a href="bookmarks/<%=bookmark.id%>/edit">Edit</a>
    <form action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
      <input type='submit' value='Delete'>
    </form>
    <hr/>
  <% end %>
</ul>