<ul class='bookmarks'>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <p><strong>URL: </strong><a href="http://<%=bookmark.url%>"><%= bookmark.url %></a></p>
      <p><strong>Genre: </strong><%= bookmark.genre %></p>
      <p><strong>Name: </strong><%= bookmark.name %></p>
      <p><strong>Details: </strong><%= bookmark.details %></p>
      <a class='buttons' href="bookmarks/<%=bookmark.id%>/edit">Edit</a>
      <form class='buttons' action='/bookmarks/<%=bookmark.id%>/delete' method='post'>
        <input type='submit' value='Delete'>
      </form>
    </li>
  <% end %>
</ul>